.signin-form-container {
  text-align: center;
  margin-bottom: 50px;
  width: 100%;
}

.signin-form-container .warnings {
  font-size: 12px;
  color: #ff4b2b;
}
.signin-form-container.input-form {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin: 3.5vh 0;
}

.signin-form-container input {
  background-color: #eee;
  border: none;
  border-radius: 10px;
  padding: 12px 15px;
  margin: 12px 0;
  width: 40%;
}

.signin-form-container button {
  border-radius: 20px;
  border: 1px solid #ff4b2b;
  background-color: #ff4b2b;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  padding: 8px 30px;
  letter-spacing: 1px;
}

.signin-form-container button:active {
  transform: scale(0.95);
}

.signin-form-container button:focus {
  outline: none;
}
.signin-form-container button:hover {
  cursor: pointer;
}

.signin-form-container :disabled {
  background-color: grey;
  border: none;
  cursor: none;
}
.signin-form-container button:disabled:active {
  transform: none;
}

.success {
  font-size: 13px;
  border: 1px solid;
  margin: 10px 0px;
  padding: 15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
  color: #4f8a10;
  background-color: #dff2bf;
  background-image: url("https://i.imgur.com/Q9BGTuy.png");
}
